{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  {% load static %}
  <div class="container py-3">
    <h1>Привет, я автор этого сайта(сама в шоке)!</h1>
    <hr>
    <p>
      <b>Хей, меня зовут Алиса ;)</b>
    </p>
    <p>
      <b>Как я попала в мир разработки?</b><br>
    </p>
    <p>
      Ммммммм... Дайте подумать...
    </p>
    <p>
      <em>"Случайная встреча...случайный привет...<br>
      Случайное слово...случайный ответ....<br>
      Но то что потом- не случайно мой друг<br>
      Любовь завершает случайностей круг..."<br>
      ©Козьма</em>
    </p>
    <p>
      Вот и моя случайность завершилась интересом и любовью к кодингу!
    </p>
    <p>
      <b>Что меня вдохновляет?</b><br>
    </p>
    <p>
      Вдохновляет меня многое, вкусная еда, например, по-моему вкусно покушать- это неотъемлемая часть вдохновления!
    </p>
    <p>
      <b>Чуть больше обо мне</b>
    </p>
    <p>
      Если вам интересно познакомиться со мной поближе, 
      то приходите ко мне в социальные сети, буду рада вас видеть!<br>
      Ссылочка: <a><a href= "https://vk.com/hellfoxalice08"> <b>Вконтакте</b></a>
    </p>
    <p>
      <b>Ссылочка на GitHub:</b> <a href= "https://github.com/AliceYaroslavtseva"> <b>GitHub</b></a>
    </p>
  </div>
  <div class="container">
    <p>
      <b>А сейчас посмотрите на котика и хорошего вам дня/вечера/ночи!</b>
    </p>
    <img src="{% static 'img/cat.jpg'%}" width="300" height="300">
  </div>
{% endblock %} 