{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h4>Вот что я умею</h4>
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Python
        </li>
        <li class="list-group-item">
          Django
        </li>
        <li class="list-group-item">
          HTML и CSS
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      <p>
        <b>Если вам интересно почитать, то на все подчёркнутые слова есть 
        опредение в словаре ниже(посторалась найти простыми словами).</b>
      </p>
      <p>
        <b>Для создания этого сайта я задейстовала:</b><br>
        язык программирования <u>python</u>;<br>
        <u>фреймворк</u> <u>Django</u>;<br>
        <u>HTML и CSS</u> - куда же без них;<br>
        <u>Bootstrap</u>.
      </p>
      <p>
        <b>Что при создании сайта было..</b>
      </p>
      <p>
        <b>..сложным?</b><br>
        Выстроить связь между url, views, моделями, формами и шаблонами.<br>
        Не столько сложно их написать, сколько построить цепочку связи.
      </p>
      <p>
        <b>..интересным?</b><br>
        Интересным для меня было всё, потому что 
        большенство из этого я пробовала впервые,<br>
        а то что уже ипользовала - познала с новых сторон.
      </p>
      <p>
        <b>..вдохновляющим?</b><br>
        Видеть готовые кусочки, после кучной кучи поправленных ошибок.<br>
        Постоянная мотивация - это увидеть результат труда.
      </p>
    </article>
  </div>
  <hr>
  <div>
    <h4>Словарь определений</h4><br>
    <ul>
      <li>
        <b>Python</b>-<br>
        это язык компьютерного программирования, часто используемый для 
        создания веб-сайтов и программного обеспечения, автоматизации задач 
        и проведения анализа данных. Python — это язык общего назначения, 
        то есть он может использоваться для создания множества различных 
        программ и не специализируется на каких-либо конкретных проблемах.
      </li>
      <li>
        <b>HTML и CSS</b>-<br>
        это языки, на которых эти страницы пишутся. HTML отвечает за 
        текстовое наполнение и структуру, а CSS — за внешний вид. Если 
        вы хотите красивый сайт, то использовать придется обе эти составляющие.
        Но HTML все же первая ступень в этой иерархии. Во-первых, потому что HTML 
        может существовать без CSS, а вот CSS без HTML мы не увидим.
      </li>
      <li>
        <b>Django</b>-<br>
        это framework
      </li>
      <li>
        <b>Framework</b>-<br>
        неологизм от framework — остов, каркас, рама, структура-<br>
        программная платформа, определяющая структуру программной системы; 
        программное обеспечение, облегчающее разработку и объединение разных 
        компонентов большого программного проекта. Употребляется также слово «каркас», 
        а некоторые авторы используют его в качестве основного, 
        в том числе не базируясь вообще на англоязычном аналоге.
      </li>
      <li>
        <b>Bootstrap</b>-<br>
        свободный набор инструментов для создания сайтов и веб-приложений. 
        Включает в себя HTML- и CSS-шаблоны оформления для типографики, 
        веб-форм, кнопок, меток, блоков навигации и прочих компонентов 
        веб-интерфейса, включая JavaScript-расширения.
      </li>
    </ul>
  </div>
{% endblock %} 
